# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
composer.phar
composer.lock
npm-debug.log

# Node Package Manager
node_modules

# WordPress Core
/web/wp

# Uploads / Upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/upgrade/*
!web/app/upgrade/.gitkeep

# Environment Variables
/configs/.env
/configs/deploy.yml

# htaccess and other stuff
.idea/
.htaccess
.DS_Store

# WordPress Plugns
/web/app/db.php

# Assets
web/app/themes/leham/assets/vendor/
!web/app/themes/leham/assets/vendor/.gitkeep
tests/_output/*
