site.com:
  host: site.com
  user: sshuser
  password: sshpassword
  stage: production
  deploy_path: /usr/share/nginx/html/

stage.site.com:
  host: stage.site.com
  user: sshuser
  password: sshpassword
  stage: staging
  deploy_path: /usr/share/nginx/html/

dev.site.com:
  host: dev.site.com
  user: sshuser
  password: sshpassword
  stage: development
  deploy_path: /usr/share/nginx/html/
