production:
  host: site.com
  user: sshuser
  password: sshpassword
  stage: production
  deploy_path: /usr/share/nginx/html/

staging:
  host: stage.site.com
  user: sshuser
  password: sshpassword
  stage: staging
  deploy_path: /usr/share/nginx/html/

development:
  host: dev.site.com
  user: sshuser
  password: sshpassword
  stage: development
  deploy_path: /usr/share/nginx/html/